In [10]:
import pandas as pd
import joblib

In [20]:
from src.data_fetcher import get_fpl_data

data = get_fpl_data()
data

(     can_transact  can_select  chance_of_playing_next_round  \
 0            True       False                           0.0
 1            True       False                           0.0
 2            True       False                           0.0
 3            True       False                         100.0
 4            True       False                           0.0
 ..            ...         ...                           ...
 799          True       False                         100.0
 800          True       False                           NaN
 801          True       False                           NaN
 802          True       False                         100.0
 803          True       False                           NaN

      chance_of_playing_this_round       code  cost_change_event  \
 0                             0.0     438098                  0
 1                             0.0     205651                  0
 2                             0.0     226597                  0
 3                           100.0     219847                  0
 4                             0.0     463748                  0
 ..                            ...        ...                ...
 799                         100.0     516939                  0
 800                           NaN  100040854                  0
 801                           NaN     531170                  0
 802                         100.0     433312                  0
 803                           NaN     647671                  0

      cost_change_event_fall  cost_change_start  cost_change_start_fall  \
 0                         0                 -1                       1
 1                         0                 -5                       5
 2                         0                  1                      -1
 3                         0                 -3                       3
 4                         0                  0                       0
 ..                      ...                ...                     ...
 799                       0                  0                       0
 800                       0                  0                       0
 801                       0                  0                       0
 802                       0                  0                       0
 803                       0                  0                       0

      dreamteam_count  ...  now_cost_rank now_cost_rank_type form_rank  \
 0                  0  ...            134                 82       772
 1                  2  ...             43                 20       796
 2                  2  ...             70                  6       790
 3                  1  ...             14                  4       398
 4                  0  ...            667                 53       462
 ..               ...  ...            ...                ...       ...
 799                0  ...            687                197       138
 800                0  ...            796                 12        87
 801                0  ...            442                 76       647
 802                0  ...            216                135        81
 803                0  ...            494                 83       366

      form_rank_type points_per_game_rank points_per_game_rank_type  \
 0               330                  794                       343
 1                83                  216                        25
 2               267                   34                         2
 3                38                   36                        10
 4                59                  619                        68
 ..              ...                  ...                       ...
 799              40                  161                        45
 800              14                  567                         7
 801             251                  540                       183
 802              31                   82                        37
 803              35                  509                        58

      selected_rank  selected_rank_type starts_per_90 clean_sheets_per_90
 0              714                 295          0.00                0.00
 1              200                  32          0.90                0.30
 2               34                  13          1.07                0.38
 3               61                  13          1.01                0.34
 4              643                  71          0.00                0.00
 ..             ...                 ...           ...                 ...
 799            276                 107          1.02                0.26
 800            689                  16          0.00                0.00
 801            685                 235          1.38                0.00
 802            532                 201          1.00                0.42
 803            547                  74          0.00                0.00

 [804 rows x 103 columns],
     code  draw  form  id  loss            name  played  points  position  \
 0      3     0  None   1     0         Arsenal       0       0         2
 1      7     0  None   2     0     Aston Villa       0       0         6
 2     91     0  None   3     0     Bournemouth       0       0         9
 3     94     0  None   4     0       Brentford       0       0        10
 4     36     0  None   5     0        Brighton       0       0         8
 5      8     0  None   6     0         Chelsea       0       0         4
 6     31     0  None   7     0  Crystal Palace       0       0        12
 7     11     0  None   8     0         Everton       0       0        13
 8     54     0  None   9     0          Fulham       0       0        11
 9     40     0  None  10     0         Ipswich       0       0        19
 10    13     0  None  11     0       Leicester       0       0        18
 11    14     0  None  12     0       Liverpool       0       0         1
 12    43     0  None  13     0        Man City       0       0         3
 13     1     0  None  14     0         Man Utd       0       0        15
 14     4     0  None  15     0       Newcastle       0       0         5
 15    17     0  None  16     0   Nott'm Forest       0       0         7
 16    20     0  None  17     0     Southampton       0       0        20
 17     6     0  None  18     0           Spurs       0       0        17
 18    21     0  None  19     0        West Ham       0       0        14
 19    39     0  None  20     0          Wolves       0       0        16

    short_name  ...  team_division unavailable  win  strength_overall_home  \
 0         ARS  ...           None       False    0                   1350
 1         AVL  ...           None       False    0                   1145
 2         BOU  ...           None       False    0                   1170
 3         BRE  ...           None       False    0                   1130
 4         BHA  ...           None       False    0                   1140
 5         CHE  ...           None       False    0                   1155
 6         CRY  ...           None       False    0                   1150
 7         EVE  ...           None       False    0                   1120
 8         FUL  ...           None       False    0                   1155
 9         IPS  ...           None       False    0                   1065
 10        LEI  ...           None       False    0                    975
 11        LIV  ...           None       False    0                   1350
 12        MCI  ...           None       False    0                   1220
 13        MUN  ...           None       False    0                   1095
 14        NEW  ...           None       False    0                   1220
 15        NFO  ...           None       False    0                   1220
 16        SOU  ...           None       False    0                    975
 17        TOT  ...           None       False    0                   1100
 18        WHU  ...           None       False    0                   1090
 19        WOL  ...           None       False    0                   1125

     strength_overall_away  strength_attack_home  strength_attack_away  \
 0                    1350                  1390                  1400
 1                    1240                  1130                  1180
 2                    1200                  1120                  1180
 3                    1180                  1100                  1100
 4                    1165                  1090                  1140
 5                    1235                  1120                  1170
 6                    1155                  1140                  1140
 7                    1145                  1160                  1160
 8                    1155                  1150                  1150
 9                    1065                  1040                  1040
 10                    975                  1000                  1020
 11                   1370                  1320                  1360
 12                   1270                  1160                  1170
 13                   1135                  1120                  1130
 14                   1255                  1150                  1170
 15                   1290                  1190                  1330
 16                    975                  1000                  1000
 17                   1170                  1060                  1070
 18                   1100                  1090                  1090
 19                   1145                  1100                  1120

     strength_defence_home  strength_defence_away  pulse_id
 0                    1310                   1300         1
 1                    1160                   1300         2
 2                    1220                   1220       127
 3                    1160                   1260       130
 4                    1190                   1190       131
 5                    1190                   1300         4
 6                    1160                   1170         6
 7                    1080                   1130         7
 8                    1160                   1160        34
 9                    1090                   1090         8
 10                    990                    990        26
 11                   1380                   1380        10
 12                   1280                   1370        11
 13                   1070                   1140        12
 14                   1290                   1340        23
 15                   1250                   1250        15
 16                    990                    990        20
 17                   1210                   1270        21
 18                   1090                   1110        25
 19                   1150                   1170        38

 [20 rows x 21 columns])

In [13]:
import os
print(os.path.exists("/Users/joeriksson/fehrman-git/fpl_bot/models/fpl_ai_model.pkl"))  # True if correct

True

In [14]:
model = joblib.load("/Users/joeriksson/fehrman-git/fpl_bot/models/fpl_ai_model.pkl")

/Users/joeriksson/fehrman-git/fpl_bot/.venv/lib/python3.10/site-packages/sklearn/base.py:440: InconsistentVersionWarning: Trying to unpickle estimator Ridge from version 1.1.3 when using version 1.7.0. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

In [15]:
# 3. Simulate a few rows of sample FPL API data
players = pd.DataFrame({
    "first_name": ["Erling", "Bukayo", "Alisson"],
    "second_name": ["Haaland", "Saka", "Becker"],
    "now_cost": [120, 85, 55],  # in tenths of millions
    "minutes": [3000, 2900, 3200],
    "form": [9.2, 8.1, 5.5],
    "transfers_in": [400000, 350000, 200000],
    "goals_scored": [30, 14, 0],
    "assists": [5, 11, 0],
    "yellow_cards": [3, 2, 1],
    "threat": [80.5, 65.0, 10.0],
    "influence": [90.0, 72.5, 50.0]
})

# 4. Define features
FEATURE_COLUMNS = [
    "now_cost", "minutes", "form", "transfers_in",
    "goals_scored", "assists", "yellow_cards", "threat", "influence"
]

# 5. Predict
X = players[FEATURE_COLUMNS]
players["expected_points"] = model.predict(X)

# 6. Show results
players[["first_name", "second_name", "expected_points"]]

  first_name second_name  expected_points
0     Erling     Haaland        89.425396
1     Bukayo        Saka       111.263998
2    Alisson      Becker       145.517962

In [16]:
players

,first_name,second_name,now_cost,minutes,form,transfers_in,goals_scored,assists,yellow_cards,threat,influence,expected_points
0,Erling,Haaland,120,3000,9.2,400000,30,5,3,80.5,90.0,89.425396
1,Bukayo,Saka,85,2900,8.1,350000,14,11,2,65.0,72.5,111.263998
2,Alisson,Becker,55,3200,5.5,200000,0,0,1,10.0,50.0,145.517962